<a href="https://colab.research.google.com/github/kkt86/quant-notebooks/blob/master/DevNet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DevNet

Notebook, reproducing the results from Deep Anomaly Detection with Deviation Networks paper (https://paperswithcode.com/paper/deep-anomaly-detection-with-deviation)

### Load credit card transaction data

In [10]:
import pandas as pd

creditcard_data = pd.read_csv("drive/My Drive/colab data/creditcard.csv")
creditcard_data = creditcard_data.drop("Time", axis=1)

creditcard_data.head()

         V1        V2        V3        V4  ...       V27       V28  Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155  ...  0.133558 -0.021053  149.62      0
1  1.191857  0.266151  0.166480  0.448154  ... -0.008983  0.014724    2.69      0
2 -1.358354 -1.340163  1.773209  0.379780  ... -0.055353 -0.059752  378.66      0
3 -0.966272 -0.185226  1.792993 -0.863291  ...  0.062723  0.061458  123.50      0
4 -1.158233  0.877737  1.548718  0.403034  ...  0.219422  0.215153   69.99      0

[5 rows x 30 columns]

In [34]:
# split and preprocess data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import minmax_scale

feature_cols = [col for col in creditcard_data.columns if col != "Class"]
target_col = "Class"

train_X, test_X, train_y, test_y = train_test_split(creditcard_data[feature_cols], creditcard_data[target_col], train_size=0.8, stratify=creditcard_data["Class"])

print(f"Train data shape: {train_X.shape}")
print(f"Test data shape : {test_X.shape}")
print(f"Positive values in train: {sum(train_y == 1)}")
print(f"Positive values in test : {sum(test_y == 1)}")
print(f"Percentage positive values in train: {round(100*sum(train_y == 1)/len(train_y), 3)}")
print(f"Percentage positive values in test : {round(100*sum(test_y == 1)/len(test_y), 3)}")

# scale values in range [0,1]
train_X = minmax_scale(train_X)
test_X = minmax_scale(test_X)

Train data shape: (227845, 29)
Test data shape : (56962, 29)
Positive values in train: 394
Positive values in test : 98
Percentage positive values in train: 0.173
Percentage positive values in test : 0.172

### Main training loop

In [47]:
import numpy as np

cont_rate = 0.02    # the outlier contamination rate in the training data
random_seed = 42    # random seed number

In [45]:
outlier_indices = np.where(train_y == 1)[0]
inlier_indices = np.where(train_y == 0)[0]
n_outliers = len(outlier_indices)
print(f"Original training size: {train_X.shape[0]}, No. outliers: {n_outliers}")

n_noise = len(np.where(train_y == 0)[0])*cont_rate / (1. - cont_rate)
n_noise = int(n_noise)

rng = np.random.RandomState(random_seed)

Original training size: 227845, No. outliers: 394

In [50]:


n_noise

4641